<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <header>
    <h2><a href="/">Mi Tienda</a></h2>
    <div class="nav">
      <ul>
        <li><a href="/products">Productos</a></li>
        <li><a href="/realtimeProducts">Agregar Productos</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </div>
  </header>

    <h1>Productos en Carrito</h1>

   <h2>Carrito de compras</h2>
   <div id="cart"></div>

  <button><a href="/">Volver</a></button>

  <script src="/src/js/cart.js"></script>
</body>
</html>