<div class="">
        <h2>Productos</h2>
        <table id="">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>