<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realtime Products</title>
</head>
<body>
    <header>
    <h2><a href="/">Mi Tienda</a></h2>
    <div class="nav">
      <ul>
        <li><a href="/products">Productos</a></li>
        <li><a href="#">Agregar Productos</a></li>
        <li><a href="/carrito">Carrito</a></li>
      </ul>
    </div>
  </header>

  <h2>Agregar Producto</h2>

  <form id="productForm">
    <input type="text" id="inputName" placeholder="Nombre del producto" required>
    <input type="text" id="inputDescription" placeholder="Descripción" required>
    <input type="number" id="inputStock" placeholder="Stock" required>
    <input type="number" id="inputPrice" placeholder="Precio" required>
    <button id="btn" type="submit">Agregar Producto</button>
  </form>


  <h1>Lista de Productos</h1>

  <button><a href="/">Volver</a></button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/index.js"></script>
</body>
</html>
